
<form id="mongoForm">
    <input type=""   name="vip_id"  >
    <div class="form-group">
        <label for="vip_cdnumber">会员卡号</label>
        <input type="text" class="form-control" id="vip_cdnumber"   name="vip_cdnumber"   placeholder="会员卡号">
    </div>
    <div class="form-group">
        <label for="vip_name">名字</label>
        <input type="text" name="vip_name" id="vip_name" class="form-control" placeholder="名字" />
    </div>


    <div class="form-group">
        <input type="radio" name="vip_sex" value="1">男
        <input type="radio" name="vip_sex" value="2">女
    </div>




    <div class="form-group">
        <select name="vip_lv">会员等级

            <option value="">请选择</option>
            <option value="1">青铜</option>
            <option value="2">黄金</option>
            <option value="3">白金</option>
        </select>
    </div>
    <div class="form-group">
        <label for="vip_phone">手机号码</label>
        <input type="text" name="vip_phone" id="vip_phone" class="form-control" placeholder="手机号码" />
    </div>

    <div class="form-group">
        <label for="jifen">积分</label>
        <input type="number" name="jifen" id="jifen" class="form-control" placeholder="积分" />
    </div>

    <div class="form-group">
        <label for="xiaofeiNumber">消费总额</label>
        <input type="number" name="xiaofeiNumber" id="xiaofeiNumber" class="form-control" placeholder="消费总额" />
    </div>

    <div class="form-group">
        <label for="cdNumber">卡内余额</label>
        <input type="number" name="cdNumber"id="cdNumber"  class="form-control" placeholder="卡内余额" />
    </div>


    <div class="form-group">
        <label for="cdDate">开卡时间</label>
        <input class="form-control"  name="cdDate" id="cdDate"onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
    </div>



</form>
